body {
    background-color: #F0F4EF;
    padding-bottom: 30px ;
    
}
/* nav bar */
@media screen and (min-width: 1200px){

    .principal pre{
        font-size: 14px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
    }
    .principal h1{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: black;
        text-align: center;
        
    }
    .principal h2{
        text-align: center;
    }
    .principal pre{
        font-size: 14px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
    }
    .principal img{
        width: 150px;
        height: 200px;
        text-align: center;
        margin: 10px auto 20px;
        display:block;
    }
.logo {
    width: 100%; 
    height:auto;
}
    
.heading { 
    color: aliceblue ;
}

header{
    display:flex;
    justify-content: row;
    align-items: flex-start;
}


header top{
    position: absolute;

}

nav .menu{
    position: absolute;
}



.nav_links {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    color: #0D1821;
    cursor: pointer;
    
    transition: all .5s ease-in-out;
    
    
}
.nav_bar{
    width: 50px;
    height: 6px;
    background: #0D1821;
    border-radius: 5px;
    transition: all .5s ease-in-out;
    
}
.nav_bar::before, 
.nav_bar::after {
    content:'';
    position: absolute;
    width: 50px;
    height: 6px;
    background: #0D1821;
    border-radius: 5px;
    transition:  all .5s ease-in-out;
}

.nav_bar::before {
    transform: translateY(-16px);
}

.nav_bar::after {
    transform:translateY(16px);
}


/* animaton*/
.nav_links.open .nav_bar{
    transform: translateX(-50px);
    background: transparent;
}
.nav_links.open .nav_bar::before {
    transform: rotate(45deg) translate(35px, -35px);
}
.nav_links.open .nav_bar::after {
    transform: rotate(-45deg) translate(35px, 35px);
}
/* links inside hamburger menu*/
.nav li a {
    color: #0D1821;
    font-size: 20px;
    font-family: sans-serif;
text-decoration:  none;

}
.nav li a:hover {
    font-weight: bold;
}
.nav li {
    list-style: none;
    padding: 20px;
}
.nav {
    margin: 0 20px;
    transition: 0.3s ease;
    display: none;
}
.change{
    display: block;
}
}
@media screen and (min-width: 600px) {



    
.logo {
    width: 50%; 
    height:auto;
}
    
.heading { 
    color: aliceblue ;
}


header{
    display:flex;
    justify-content: row;
    align-items: flex-start;
}


header top{
    position: absolute;

}

nav .menu{
    position: absolute;
}



.nav_links {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    color: #0D1821;
    cursor: pointer;
    
    transition: all .5s ease-in-out;
    
    
}
.nav_bar{
    width: 50px;
    height: 6px;
    background: #0D1821;
    border-radius: 5px;
    transition: all .5s ease-in-out;
    
}
.nav_bar::before, 
.nav_bar::after {
    content:'';
    position: absolute;
    width: 50px;
    height: 6px;
    background: #0D1821;
    border-radius: 5px;
    transition:  all .5s ease-in-out;
}

.nav_bar::before {
    transform: translateY(-16px);
}

.nav_bar::after {
    transform:translateY(16px);
}


/* animaton*/
.nav_links.open .nav_bar{
    transform: translateX(-50px);
    background: transparent;
}
.nav_links.open .nav_bar::before {
    transform: rotate(45deg) translate(35px, -35px);
}
.nav_links.open .nav_bar::after {
    transform: rotate(-45deg) translate(35px, 35px);
}
/* links inside hamburger menu*/
.nav li a {
    color: #0D1821;
    font-size: 20px;
    font-family: sans-serif;
text-decoration:  none;

}
.nav li a:hover {
    font-weight: bold;
}
.nav li {
    list-style: none;
    padding: 20px;
}
.nav {
    margin: 0 20px;
    transition: 0.3s ease;
    display: none;
}
.change{
    display: block;
}
.principal pre{
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
}
@media screen and (max-width: 600px){

    .principal pre{
        font-size: 14px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
    }

.logo {
    width: 40%; 
    height:auto;
}
    
.heading { 
    color: aliceblue ;
    vertical-align: middle;
    align-items: center;
    text-align: center;
}


header{
    display:flex;
    justify-content: row;
    align-items: flex-start;
}


header top{
    position: absolute;

}

nav .menu{
    position: absolute;
}



.nav_links {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    color: #0D1821;
    cursor: pointer;
    
    transition: all .5s ease-in-out;
    
    
}
.nav_bar{
    width: 50px;
    height: 6px;
    background: #0D1821;
    border-radius: 5px;
    transition: all .5s ease-in-out;
    
}
.nav_bar::before, 
.nav_bar::after {
    content:'';
    position: absolute;
    width: 50px;
    height: 6px;
    background: #0D1821;
    border-radius: 5px;
    transition:  all .5s ease-in-out;
}

.nav_bar::before {
    transform: translateY(-16px);
}

.nav_bar::after {
    transform:translateY(16px);
}


/* animaton*/
.nav_links.open .nav_bar{
    transform: translateX(-50px);
    background: transparent;
}
.nav_links.open .nav_bar::before {
    transform: rotate(45deg) translate(35px, -35px);
}
.nav_links.open .nav_bar::after {
    transform: rotate(-45deg) translate(35px, 35px);
}
/* links inside hamburger menu*/
.nav li a {
    color: #0D1821;
    font-size: 20px;
    font-family: sans-serif;
text-decoration:  none;

}
.nav li a:hover {
    font-weight: bold;
}
.nav li {
    list-style: none;
    padding: 20px;
}
.nav {
    margin: 0 20px;
    transition: 0.3s ease;
    display: none;
}
.change{
    display: block;
}
}


/* main image of school */
@media screen and (min-width: 1200px){
.main {
    display: flex;
    justify-content: center;
    background-color: #344966 ;
    text-align: center;
    height: 35vw;
}
    
.mySlides {
    max-width: 700px; 
    width: 80%; 
    height: 100%; 
    max-height: 1000px;
}
}

@media screen and (max-width: 1200px){
.main {
    display: flex;
    justify-content: center;
    background-color: #344966 ;
    text-align: center;
    height: 60vw;
}
    
.mySlides {
    max-width: 700px; 
    width: 70%; 
    height: 100%; 
    max-height: 1000px;
}
}
/* spacer */
.space2
{
    padding: 25px;
}

/* footer containing copyright and social media links */
@media screen and (min-width: 1200px){
.bottom {
    display: flex;
    justify-content: space-around;
    vertical-align: baseline;
    text-align: center;
    height: 60px;
}

.copyright {
    padding: 10px;
}

.socials {
    text-align: center ;
    padding: 10px;
}
}

@media screen and (max-width: 1200px){
.bottom {
    display: flex;
    justify-content: space-around;
    vertical-align: baseline;
    text-align: center;
    height: 60px;
}

.copyright {
    padding: 10px;
    font-size: 10px;
}

.socials {
    text-align: center ;
    padding-bottom: 10px;
    font-size: 10px;
}


.principal h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-align: center;
    
}
.principal h2{
    text-align: center;
}
.principal pre{
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.principal img{
    width: 150px;
    height: 200px;
    text-align: center;
    margin: 10px auto 20px;
    display:block;
    
}
header{
    display:flex;
    justify-content: row;
    align-items: flex-start;
}


.nav_links {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    color: #0D1821;
    cursor: pointer;
    
    transition: all .5s ease-in-out;
    
    
}
.nav_bar{
    width: 50px;
    height: 6px;
    background: #0D1821;
    border-radius: 5px;
    transition: all .5s ease-in-out;
    
}
.nav_bar::before, 
.nav_bar::after {
    content:'';
    position: absolute;
    width: 50px;
    height: 6px;
    background: #0D1821;
    border-radius: 5px;
    transition:  all .5s ease-in-out;
}

.nav_bar::before {
    transform: translateY(-16px);
}

.nav_bar::after {
    transform:translateY(16px);
}


/* animaton*/
.nav_links.open .nav_bar{
    transform: translateX(-50px);
    background: transparent;
}
.nav_links.open .nav_bar::before {
    transform: rotate(45deg) translate(35px, -35px);
}
.nav_links.open .nav_bar::after {
    transform: rotate(-45deg) translate(35px, 35px);
}
/* links inside hamburger menu*/
.nav li a {
    color: #0D1821;
    font-size: 20px;
    font-family: sans-serif;
text-decoration:  none;

}
.nav li a:hover {
    font-weight: bold;
}
.nav li {
    list-style: none;
    padding: 20px;
}
.nav {
    margin: 0 20px;
    transition: 0.3s ease;
    display: none;
}
.change{
    display:block;
}
}